#daxiao{
	height: 500px;
	width: 800px;
	}
#fangkuang{
	height: 520px;
	width: 320px;
	background-color: aliceblue;
	position: fixed;
	left: 0;
	right: 0;
	margin: auto;
}
#feichuan
{
	width: 800px;
	height: 500px;
	position: absolute;
	left: 25%;
	top: 50%;
	margin: auto;
}
#fanhui{

}
